<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="com.jjoe64.graphview" />

    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- Required permissions for Kommunicate -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- USB Permissions -->
    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.USB_PERMISSION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Light"
        tools:targetApi="31">
        <activity
            android:name=".FinalResultsActivity"
            android:exported="false" />
        <activity
            android:name=".QuestionnaireResultsActivity"
            android:exported="false" />
        <activity
            android:name=".ChatbotActivity"
            android:exported="false" />
        <activity
            android:name=".IntegratedResultsActivity"
            android:exported="false" />
        <activity
            android:name=".CombinedResultsActivity"
            android:exported="false" />
        <activity
            android:name=".QuestionnaireMain"
            android:exported="false" />

        <activity
            android:name=".BiomarkerInstructions"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BiomarkerActivty"
            android:exported="false" />


        <activity android:name=".CareProviderDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterPatientActivity"
            android:exported="false" />
        <activity
            android:name=".ModifyPatientActivity"
            android:exported="false" />

        <activity
            android:name=".EditPatientActivity"
            android:exported="false" />

        <activity
            android:name=".ViewHistoryActivity"
            android:exported="false" />
        <activity android:name=".AccountDetailsActivity" />
        <activity android:name=".CareProviderAccountActivity" />
        <activity android:name=".ActivateAccountActivity" />







        <activity
            android:name=".QuestionnaireActivity2"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".OutputBluetooth"
            android:exported="false" />

        <activity
            android:name=".StepsActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".BluetoothListActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Light" />
        <activity
            android:name=".ResultActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Light" />
        <activity
            android:name=".QuestionnaireActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Light" />
        <activity
            android:name=".RegisterLoginActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Light"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ResponsesViewerActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Light" /> <!-- FileProvider for sharing files -->
        <!-- Add this inside the application tag -->


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>